/* ELEMENT STYLES -------------------- */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  background: #e8e7e7; 
  font-family: arial;
  text-transform: uppercase;
}

header {
  color: #FFF;
  padding: 14px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #8063FA;
  border-bottom: solid 2px #D4CAFF;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

/* FORMS */
.task-form{
  display: flex;
  background-color: #8063FA;
}
.task-form input[type=text] {
  background-color: #5B45B9;
  color: #C7BCF8;
  padding: 10px;
  margin: 15px 10px 15px 15px;
  border-radius: 5px;
  border-style: none;
  border-width: 0 0 1px 0;
}

 input[type=text] {
  flex-grow: 1;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
}

.task-form input[type=text]::-webkit-input-placeholder{
  color: #C7BCF8;
  letter-spacing: 2px;
}

input[type=text]:focus{
  background-color: rgba(0, 0, 0, 0.2);
}

input[type=submit] {
  display: block;
  font-size: .6em;
  margin: 15px 15px 15px 0; 
  padding: 10px;
  background-color: #44338D;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

.task-form button, 
.task-form input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}


/* COMPONENT STYLES -------------------- */

.todo-ist{
  background: #fff;
  width: 700px;
  margin: 70px auto;
  box-shadow: 0 2px 0 rgb(133, 104, 250);
  border-radius: 6px;
  overflow: auto;
 
}

.task {
  display: flex;
  font-size: 1em;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 2px;
  padding: 10px 1px;
 
}
.tasks-container{
  height:300px;
  overflow: auto;
}

.task:last-of-type {
  border-bottom-color: #D4CAFF;
}

.task-title:hover .remove-task {
  visibility: visible;
}

.task-title {
  flex-grow: 1;
  line-height: 3.5em;
  padding: 0 30px;
  position: relative;
}
.style-icon{
  font-size: 1.15em;
  border: none;
  outline: none; 
  background: none;
  float: right;
  padding: 0;
  /* visibility: hidden;  */
}
.remove-task{
  color: #EF5350;
  cursor: pointer;
  margin: 0 10px 0 0; 
  visibility: hidden;  
}
.edit-task{
  color:rgb(12, 21, 100);
  margin:0 2px; 
 
}
  .task-check{
  padding-right: 20px;  
} 
 .task-parent{
  position: relative; 
} 
.task-title label {
  padding:0 20px;
  
}
  input[type="checkbox"].styled:checked:before { 
  font-family: 'fontawesome';
  content: "\f058";
  display: inline-block; 
  color: lawngreen;
  
} 

input[type="checkbox"].styled:checked {  
  position : absolute; 
  width:0;
  height:0;    
}

input[type="checkbox"].styled:checked  + label {
  text-decoration-line: line-through;  
  margin: 0 15px;
} 
/* ----Edit Form -----*/
.edit-form{
  display: flex;
  width:450px;
  height:50px;
  position: absolute; 
  border:none;
}
.edit-form input[type=text]{
 padding-left :10px;
}
.edit-form > button {
  background: rgb(224, 223, 228);
  font-size: 20px;
  color: gray;
  width:50px;
  border: none; 
 
}
.date-picker{
  background-color: #EEEEEE;
}

/*************************
Media Queries
*************************/

@media only screen and (max-width: 480px) {
  .todo-ist{
    width:300px;
  }
  .task {
    font-size: 8px;
}
.task-title{
  width: 100px;
}
header h1 {
  font-size: 15px;
}
header span {
  font-size: 10px;
  margin-right: 10px;
}
}

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {

  .todo-ist{
    width:550px;
  }
  .task {
    font-size: 12px;
}
.task-title{
  width: 100px;
}
}

@media only screen and (min-width: 1140px) {
  .todo-ist{
    width:700px;
  }
  .task {
    font-size: 15px;
}
 
  
}









 